:root {
  --primary-color: #333;
  --secondary-color: #444;
  --overlay-color: rgba(0, 0, 0, 0.7);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.global-hr {
  margin: 5em 0;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: #333;
  font-size: 1.1rem;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
.main {
  margin: auto;
  width: 100%;
}

.navbar {
  background-image: linear-gradient(to right, white, white, rgb(16, 199, 16));
  color: rgb(16, 199, 16) !important;
  .navbar-brand {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(16, 199, 16) !important;
    font-size: 2vw;
    img {
      width: 55px;
    }
  }

  .navbar-nav {
    margin-left: auto;
    justify-content: center;
    position: sticky;
    top: 0;
    text-transform: uppercase;
    font-weight: bold;
    .nav-item {
      font-size: 0.7em;
      color: black;
      &:hover {
        color: white;
      }
      .nav-link {
        display: inline;
        color: black;
        transition: 0.2s;
        &:hover {
          color: white;
        }
      }
    }
  }
}

.landing {
  background-image: linear-gradient(to right, white, white, rgb(16, 199, 16));
  display: grid;
  grid-template-columns: 1fr 1fr;

  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 90vh;
  height: 100%;
  padding: 0 5em;
  @media (max-width: 900px) {
    font-size: 0.8em;
    grid-template-columns: 1fr;
  }
}

.landing__section-1 {
  padding: 1em;
}

.landing__heading-1 {
  font-weight: bold;
  font-size: 2.4em;
}

.landing__heading-2 {
  font-size: 0.8em;
}

.landing__description {
  font-size: 1.5em;
}

.landing__section-2 {
  @media (max-width: 900px) {
    grid-row: 1;
  }
  padding: 1em;

  img {
    cursor: pointer;
    margin: auto;
    display: block;
    width: 90%;
    transition: 0.5s;
    @media (max-width: 900px) {
      width: 70%;
    }
    &:hover {
      transform: scale(1.1, 1.1);
    }
  }
}
.vision-mission {
  border: 2px solid rgb(145, 139, 139);
  margin: 5em 0;
  @media (max-width: 900px) {
    font-size: 0.7em;
  }
  // box-shadow: 5px 15px 15px rgb(128, 128, 128);
}
.section {
  margin: 5em;
  text-align: center;
  .section__heading {
    font-size: 5em;
  }
  .section__description {
    font-size: 1.5em;
  }
}

.form {
  margin-bottom: 5em;
  @media (max-width: 900px) {
    font-size: 0.9em;
  }

  input {
    @media (max-width: 900px) {
      font-size: 0.9em;
    }
  }

  textarea {
    @media (max-width: 900px) {
      font-size: 0.9em;
    }
  }
}

.form__title {
  font-size: 3em;
  margin: 0.5em 0;
  @media (max-width: 900px) {
    font-size: 2.3em;
  }
}

.form__submit {
  background-color: rgb(16, 199, 16) !important;
  color: white;
  text-transform: uppercase;
  display: block;
  border-radius: 5px;
  font-size: 0.9em;
  text-align: right;
  padding: 0.5em 1em;
  margin-left: auto;
  border: none;
  transition: 0.5s;
  &:hover {
    transform: scale(1.1, 1.1);
  }
}
.landing__submit {
  font-size: 1.5em;
  @media (max-width: 900px) {
    font-size: 1.2em;
  }
}
.two-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  align-content: center;
}

.mail-address {
  @media (max-width: 900px) {
    font-size: 0.9em;
  }
}
